<div class="dashboard">
  <p-card header="Total products:" styleClass="text-center">
    <h2>{{ totalProducts$ | async }}</h2>
  </p-card>

  <p-card header="Products with low stock:" styleClass="text-center">
    <h2>{{ (totalLowStockProducts$ | async)?.length }}</h2>
  </p-card>

  <p-card header="Total inventory value:" styleClass="text-center">
    <h2>
      {{ totalInventoryValue$ | async | currency : "$" : "symbol" : "1.2-2" }}
    </h2>
  </p-card>
</div>

<p-card header="Products with low stock" class="mt-3">
  <app-product-list></app-product-list>
</p-card>
