<p-toast position="top-center"></p-toast>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <span class="app-name">Stock App</span>
  </div>

  <div class="p-toolbar-group-right toolbar-right">
    <button
      pButton
      label="Create Product"
      icon="pi pi-plus"
      (click)="openCreateDialog()"
    ></button>

    <app-theme></app-theme>

    <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
    <button
      pButton
      icon="pi pi-user"
      label="User"
      (click)="userMenu.toggle($event)"
    ></button>
  </div>
</p-toolbar>

<p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel header="Summary"> </p-tabPanel>
  <p-tabPanel header="Products"> </p-tabPanel>
</p-tabView>
