<p-table
  *ngIf="(products$ | async)?.length"
  [value]="(products$ | async) || []"
  [paginator]="true"
  [rows]="8"
  [responsiveLayout]="'scroll'"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos"
  [rowsPerPageOptions]="[5, 10, 20]"
  class="shadow-lg rounded-lg"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="productName">
        Producto <p-sortIcon field="productName"></p-sortIcon>
      </th>
      <th pSortableColumn="category">
        Categoría <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th pSortableColumn="subcategory">
        Subcategory <p-sortIcon field="subcategory"></p-sortIcon>
      </th>
      <th pSortableColumn="stock">
        Stock <p-sortIcon field="stock"></p-sortIcon>
      </th>
      <th pSortableColumn="price">
        Price <p-sortIcon field="price"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.productName | titlecase }}</td>
      <td>
        {{ product.category | replaceCharacters : "_" : " " | titlecase }}
      </td>
      <td>
        {{ product.subcategory | replaceCharacters : "_" : " " | titlecase }}
      </td>
      <td>{{ product.stock }}</td>
      <td>{{ product.price | currency : "$" : "symbol" : "1.2-2" }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" class="text-center text-gray-500">
        No hay productos disponibles
      </td>
    </tr>
  </ng-template>
</p-table>
